.socials {
    font-family: Anonymous Pro ;
}

.socials__inner {
}
.socials__title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.socials__title-icon{
    font-size: 50px;
}

.socials__list {
    display: flex;
    gap: 20px;
    align-items: center;
}
.socials__link {
    color: $whitecolor;
    font-size: 35px;
    transition: all .5s;
    &:hover{
        transform: translateY(10%);
        color: $redcolor;

    }
}

